body {
    font-family: Arial, sans-serif;
    background-image: url("../image/geometric-gradient-futuristic-background_23-2149116406.avif");
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registration-form {
    background: rgb(0, 2, 141);
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.registration-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
    text-align: center;
}

.registration-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.registration-form button {
    width: 100%;
    padding: 10px;
    background-color: #f5f5fd;
    border: none;
    color: rgb(29, 27, 127);
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.registration-form button:hover {
    background-color: #50c8ff;
}

.registration-form a {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.registration-form a:hover {
    text-decoration: underline;
}